/* Reset: Start */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    cursor: auto, default;
}

textarea:focus, input:focus, button:focus, button:active, a:focus, *:focus, .btn:focus, .form-control:focus, .navbar-toggler:active, .navbar-toggler:hover {
	box-shadow: none !important;
	outline: none !important;
}

input:focus::placeholder { color: transparent; }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

a, button {
    text-decoration: none;
	cursor: pointer;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	pointer-events: none;
}

.btn-flex {
    width: 25% !important;
}

@media (min-width: 992px) {
    .btn-flex {
        width: 10% !important;
    }
}
/* Reset: End */

/* Navbar: Start */
.navbar-accent {
    --cbc-navbar-color: #404040;
    --cbc-navbar-hover-color: #ffffff;
    --cbc-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --cbc-navbar-active-color: #ffffff;
    --cbc-navbar-brand-color: #ffffff;
    --cbc-navbar-brand-hover-color: #ffffff;
    --cbc-navbar-toggler-border-color: #d07c2c;
}

.bg-accent {
    background-color: #e1d37b !important;
    opacity: 1;
}

.navbar-toggler {
    color: var(--cbc-navbar-toggler-border-color);
    border: 1px solid var(--cbc-navbar-toggler-border-color);
}

.nav-link {
    color: var(--cbc-navbar-color);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--cbc-navbar-active-color);
}
/* Navbar: End */